<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Please Login</title>
</head>
<body>
<div>

  <form name="f" th:action="@{/login}" method="post">
    <fieldset>
      <legend>Receipt Login Page </legend>
      <div th:if="${param.error}" class="alert alert-error">

      </div>
      <div th:if="{param.logout}" class="alert alert-success">

      </div>
      <label for="username">Username</label>
      <input type="text" id="username" name="username"/>
      <label for="password">Password</label>
      <input type="password" id="password" name="password"/>
<!--                  <label for="Forgot Password">Register</label>-->
<!--                  <input type="Forgot Password" id="register" name="register"/>-->
      <div class="two-col">
        <button type="submit" class="btn">Log in</button>
        <button type="submit" class="btn">Register</button>
        <button type="submit" class="btn">Forgot Password</button>
        <div>
    </fieldset>
  </form>
</div>
</body>
</html>